PORT=your_value_here
NODE_ENV=your_value_here

MONGO_URI=your_value_here
BASE_URL=your_value_here

IMAGEKIT_PRIVATE_KEY=your_value_here

MAILTRAP_HOST=your_value_here
MAILTRAP_PORT=your_value_here
MAILTRAP_USERNAME=your_value_here
MAILTRAP_PASSWORD=your_value_here
MAILTRAP_SENDEREMAIL=your_value_here

JWT_SECRET=your_value_here
